<configuration>
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">

      <includeMdc>true</includeMdc>

      <fieldNames>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
        <timestamp>timestamp</timestamp>
        <message>message</message>
        <logger>logger</logger>
        <thread>thread</thread>
        <mdc>context</mdc>
      </fieldNames>

      <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZZ</timestampPattern>

    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>
</configuration>
